@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  height: 100%;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
ion-icon{
  font-size: 25px;
  color: white;
}
hr{
  margin-left: 90px;
  
}
div{
  animation-delay:3s; 
}
.hero{
  margin-top:0px;
  width:100%;
  height:100vh;
  padding: 0 20px 0 20px;
  background:linear-gradient(rgba(0,0,0,0.5),black), url("bck.png");
  
  background-size:cover;
  background-position: center;
  color: #fff;
}
button{
  margin-right: 10px;
  margin-top: 2px;
  background: none;
  border: none;
  color: #fff;
  
}
.col{

   
}
#nav{
  background: #000;
  box-shadow: 0 0 10px #000;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  border-radius: 20px;
  margin-top: 5px;
  margin-right: 30px;
}
#brnd{
  margin-top: 5px;
  margin-left: 20px;
  font-size: 15px;
}
#sv{
  width: 100%;
}
.line {
  fill: none;
  stroke: white;
  stroke-width: 3;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

ul{
  margin-left: 20px;
}
.tm-description-box {
  margin-left: auto;
  margin-right: auto;
}

.tm-description-box {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  max-width: 530px;
}

.row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
padding: 0 4px;
margin: 0
}

/* Create four equal columns that sits next to each other */
.column {
-ms-flex: 25%; /* IE10 */
flex: 25%;
max-width: 25%;
padding: 0 4px;
}

.column img {
margin-top: 10px;
vertical-align: middle;
width: 100%;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
.column {
-ms-flex: 50%;
flex: 50%;
max-width: 15%;
margin-top:30px; 
box-shadow: 0 0 5px #000;
border-radius:20px;
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

}
.header {
  text-align: center;
  padding: 32px;
}
a{
  text-decoration:none;
  color:red; 
}
footer{
  width: 100%;
  height: 200px;
  align-items: center;
  background:#000;
}
#pi{
  padding-top: 100px;
  opacity: 0.5;
  font-size: 12px;
}
#pi2{
  padding-top:0px;
  opacity: 0.5;
  font-size: 12px;
}
#btn2{
  margin-top:40px;
}
#caro{
  margin-top:35%;
  width: 100%;
}
.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 200px;
  text-align: center;
  margin-bottom:0px;
  background:#fff;
  box-shadow: 0 0 5px #0099ff;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}
.product-card:hover{
  box-shadow: 0 0 5px lime;
  
}

.product-card img {
  width: 100%;
}

.product-card h3 {
  margin-top: 25px;
  font-size: 15px;
}

.product-card .price {
  font-weight: bold;
  color: #00a3cc;
  margin-top: 10px;
}

.product-card .add-to-cart {
  background-color: #00a3cc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

.cart {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.cart h2 {
  margin-top: 0;
}

.cart .cart-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart .cart-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart .total {
  font-weight: bold;
  margin-top: 10px;
}

.cart .checkout {
  background-color: #00a3cc;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* CSS styles go here */
  .product-card{
    width:120px;
    
  }
}
#p{
  font-size: 10px;
}
#intro{
  width: 100%;
}
.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
  z-index: 1000;
}

.floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #2cb3f0;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  
  box-shadow: 0 10px 25px -5px rgba(44, 179, 240, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-button:hover{
  background:url("logobg.png");
  background-size: cover;
  background-position: center;
}
#scroll-down-animation {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#h2 {
  margin-top: 70px;
  color: #fff;
  
  font-weight: 200;
  font-size: 8px;
}


.move {
  position: absolute;
  background-color: #fff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  animation: move 2s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(-50%,60px);
    opacity: 0;
  }
  50% {
    transform: translate(-50%,40px);
    opacity: 1;
    
  }
  100% {
    transform: translate(-50%,10px);
    opacity: 0;
  }
}
